body {
  background-color: #2f3445;
  font-family: "Arial", sans-serif;
  color: #f6ecf3;
}

#app {
  color: #2f3445;
  text-align: center;
}

#toGameScreen {
  color: #f6ecf3;
  border-radius: 6px;
  font-size: 34px;
  border: none;
  width: 150px;
  background-color: #13b0b8;
  padding: 10px;
  margin: 5px;
}
#toGameScreen:hover {
  cursor: grab;
  transition: 0.5s;
  background-color: #53bdd5;
}
.instructions {
  border-radius: 10px;
  color: #f6ecf3;
  background-color: #181823;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}
.gameName {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
}
#questionAndAnswer {
  display: none;
}
