body {
  background-color: #2f3445;
  font-family: "Arial", sans-serif;
  color: #f6ecf3;
}

#app {
  color: #2f3445;
  text-align: center;
}
#playScreen {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  color: #f6ecf3;
  background-color: #13b0b8;
  border: none;
  border-radius: 6px;
}
#toGameScreen {
  font-size: 34px;
  width: 150px;
  padding: 10px;
  margin: 5px;
}
#toGameScreen,
#startGameButton:hover {
  transition: 0.5s;
  cursor: grab;
  background-color: #53bdd5;
}

#startGameButton {
  display: block;
  margin: auto;
  width: 200px;
  font-size: 34px;
  padding: 10px;
  margin: 5px;
}
.instructions {
  border-radius: 10px;
  color: #f6ecf3;
  background-color: #181823;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  max-width: 50%;
}
.gameName {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
#questionAndAnswer {
  display: flex;
  text-align: center;
}

#gameTimer {
  text-align: left;
  font-size: 50px;
  font-weight: bold;
  padding-top: 0px auto;
}

#question {
  border-radius: 10px;
  color: #f6ecf3;
  background-color: #181823;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px;
  max-width: 35%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  font-size: 50px;
}

#score {
  text-align: right;
  font-size: 50px;
}

#userAnswer,
label {
  border-radius: 5px;
  font-size: 20px;
  margin: 3px;
  padding: 5px;
  font-weight: bold;
}
